# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Spay Zee.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Facultad\Spay_Zee_IA2_2021\Spay Zee\.idea\.idea.Spay Zee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
